<footer class="page-footer {{ site.footer-color }}" style="box-shadow: 0px 0px 4px 2px #c6c6c6 !important;">
    <div class="container">
      <div class="row">
        <div class="col l7 s12">
          <h5 class="black-text">About</h5>
          <p class="black-text text-lighten-4">
              "{{ site.description }}"
          </p>
        </div>

        <div class="col l2 s12 right">
          <h5 class="black-text">Connect</h5>
          <ul>
            {% if site.url_vanat_github %}
            <li>
              <a href="{{ site.url_vanat_github }}" class="white-text text-lighten-3 btn waves-effect black {{ site.footer-button-color }} lighten-3" target="_blank" title="GitHub">
                <i class="mdi mdi-github-circle"></i>
              </a>
            </li>
            {% endif %}
            {% if site.url_vanat_gitter %}
            <li>
              <a href="{{ site.url_vanat_gitter }}" class="white-text text-lighten-3 btn  pink lighten-1 waves-light {{ site.footer-button-color }} lighten-3" target="_blank" title="Gitter">
                <i class="fab fa-gitter fa-lg"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright {{ site.footer-color-below }}" style="box-shadow: 0px 0px 2px 3px #c6c6c6 !important; background: #ffffff !important;">
      <div class="container black-text">
        Copyright © 2018 Vanat.
        <a class="btn waves-effect waves-light white right deep-orange-text text-lighten-2" href="mailto: {{ site.email }}" >
          <i class="fa fa-envelope fa-lg"></i>&nbsp; Contact me
        </a>
      </div>
    </div>
  </footer>

