<div class="nav-wrapper">
    <span class="site-title" style="color: #ff8a65; margin-top: 1% !important;">
        {{ site.title }}
    </span>
    <a href="#" data-activates="mobile-navbar" class="button-collapse">
        <i class="mdi mdi-menu white-text"></i>
    </a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a href="{{ site.url_vanat_github }}" style="color: #ff8a65">
                <i class="mdi mdi-github-circle left"></i>GitHub
            </a>
        </li>
    </ul>
    <ul class="side-nav" id="mobile-navbar">
        <li>
            <a href="{{ site.url_vanat_github }}" class="waves-effect waves-teal" style="color: #ff8a65">
                <i class="mdi mdi-github-circle left"></i>GitHub
            </a>
        </li>
    </ul>
</div>
