<div class="nav-wrapper">
    <span class="site-title black-text">
        {{ site.title }}
    </span>
    <a href="#" data-activates="mobile-navbar" class="button-collapse">
        <i class="mdi mdi-menu white-text"></i>
    </a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a href="{{ site.url_vanat_github }}" class="black-text">
                <i class="mdi mdi-github-circle left black-text"></i>GitHub
            </a>
        </li>
    </ul>
    <ul class="side-nav" id="mobile-navbar">
        <li>
            <a href="{{ site.url_vanat_github }}" class="waves-effect waves-teal black-text">
                <i class="mdi mdi-github-circle left black-text"></i>GitHub
            </a>
        </li>
    </ul>
</div>
